.nav-text {
    padding: 15px;
    font-weight: bold;
}

.nav-text:hover {
    background-color: #dfdfdf;
    cursor: pointer;

}

.link-blue {
    color: rgb(51, 122, 183);
}

.inline-block {
    display: inline-block;
}

.link-below-button {
    margin-top: 5px;
    text-align: center;
}

.modal-body .input-group {
    margin-bottom: 25px;
}